{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un article</title>
{% endblock %}

{% block body %}
  <h2>ajout d'un article</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/article/add" >
    <fieldset>
        <legend> Créer un type d'article</legend>
        <label for="nom">nom</label><br>
        <input id="nom" type="text" name="nom" size="18" value="" placeholder="Saisir le nom de l'article" required><br>
        <label>type</label><br>
        <select name="type_article_id" required>
    <option value="">Sélectionner un type d'article</option>
    {% for type in types_articles %}
         <option value="{{ type.id }}"> {{ type.libelle }} </option>
    {% endfor %}
</select><br>
        <label for="prix">prix</label><br>
        <input id="prix" type="number" name="prix" size="18" value="" placeholder="Saisir le prix de l'article" required><br>
        <label for="stock">stock</label><br>
        <input id="stock" type="number" name="stock" size="18" value="" placeholder="Saisir le stock de l'article" required><br>
        <label for="desc">description</label><br>
        <input id="desc" type="text" name="desc" size="18" value="" placeholder="Saisir la description de l'article"><br>
         <label for="img">image</label><br>
        <input id="img" type="text" name="img" size="18" value="" placeholder="Saisir le nom de l'image de l'article"><br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}